CONFIG_APP_GATE=1
CONFIG_APP_GATE_ID_SCHEME_NEW=y
CONFIG_APP_GATE_TICK_MS=200
CONFIG_APP_GATE_IDLE_LOG_SEC=10
CONFIG_APP_GATE_SAMPLE_PERIOD_MS=1000
CONFIG_APP_GATE_UPLINK_PERIOD_MS=1000
CONFIG_APP_GATE6_BACKEND_ENABLE_DELAY_MS=8000
CONFIG_APP_HEARTBEAT_GPIO=46
CONFIG_APP_I2C_PORT=0
CONFIG_APP_I2C_SDA_GPIO=9
CONFIG_APP_I2C_SCL_GPIO=40
CONFIG_APP_I2C_FREQ_HZ=100000
CONFIG_APP_SGP40_ADDR=0x59
CONFIG_APP_BMP280_ADDR=0x76
CONFIG_APP_GATE2P1_EXPECTED_DEVICES=1
CONFIG_APP_GATE3_EXPECTED_DEVICES=1
CONFIG_APP_GATE4_EXPECTED_DEVICES=1
CONFIG_APP_GATE9_EXPECTED_DEVICES=1
CONFIG_APP_SAMPLE_PERIOD_SEC=300
CONFIG_APP_UPLINK_PERIOD_SEC=300
CONFIG_APP_DISPLAY_MIN_REFRESH_SEC=30
CONFIG_APP_REFRESH_VOC_DELTA_X100=300
CONFIG_APP_REFRESH_PRESSURE_DELTA_PA=50
CONFIG_APP_REFRESH_TEMP_DELTA_CENTI_C=50
CONFIG_APP_DISPLAY_LANDSCAPE=y
CONFIG_APP_DISPLAY_PANEL_PROFILE_SSD1680_250X122=y
CONFIG_APP_DISPLAY_SPI_HOST=2
CONFIG_APP_DISPLAY_SPI_MHZ=4
CONFIG_APP_DISPLAY_PIN_MOSI=11
CONFIG_APP_DISPLAY_PIN_MISO=-1
CONFIG_APP_DISPLAY_PIN_SCLK=13
CONFIG_APP_DISPLAY_PIN_CS=12
CONFIG_APP_DISPLAY_PIN_DC=21
CONFIG_APP_DISPLAY_PIN_RST=-1
CONFIG_APP_DISPLAY_PIN_BUSY=42
CONFIG_APP_DISPLAY_PIN_PWR=14
CONFIG_APP_DISPLAY_XRAM_OFFSET=0
CONFIG_APP_LORAWAN_BACKEND_ACTIVE=y
CONFIG_APP_LORAWAN_JOIN_BACKOFF_MS=5000
CONFIG_APP_LORAWAN_JOIN_SUCCESS_DELAY_MS=4000
